rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;

      match /cards/{cardId} {
        allow read: if request.auth != null;
        allow write: if request.auth.uid == userId;
      }

      match /preferencias/{preferenceId} {
        allow read: if request.auth != null;
        allow write: if request.auth.uid == userId;
      }

      match /matches_nuevos/{matchId} {
        allow read, write: if request.auth.uid == userId;
      }

      match /matches_guardados/{matchId} {
        allow read, write: if request.auth.uid == userId;
      }

      match /matches_eliminados/{matchId} {
        allow read, write: if request.auth.uid == userId;
      }

      match /contacts/{contactId} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
      }
    }
  }
}